*, *::after, *::before {
    box-sizing: border-box;
}

html, body, p, h1, h2, h3, h4, h5, h6, ul {
    margin: 0;
}

h1, h2, h3, h4, h5, h6, button, input, select, textarea {
    font: inherit;
}

ul, li, dialog, fieldset, button, input {
    padding: 0;
}

li {
    list-style: none;
}

label, button {
    cursor: pointer;
}

button:disabled {
    cursor: not-allowed;
}

fieldset {
    border: none;
}

body {
    font-family: sans-serif;
}

.hourly-visualization {
    position: relative;
    padding: 2em 1em 3em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    border: 1px solid #ddd;
}

.grid,
.tips {
    position: absolute;
    display: flex;
}

.grid {
    top: 1.5em;
    justify-content: space-between;
    width: calc(100% - 2em);
    height: calc(100% - 4em);

    color: #767676;
}

.grid-item {
    position: relative;
    display: flex;
    justify-content: center;
    width: 0;
    border-left: 0.05em solid #ddd;
}

.grid-item:first-child,
.grid-item:last-child {
    opacity: 0;
}

@media (width < 34em) {
    .grid-item:nth-child(2n) {
        opacity: 0;
    }
}

@media (width < 20em) {
    .grid-item:nth-child(4n+1) {
        opacity: 0;
    }
}

.grid-label {
    position: absolute;
    bottom: calc(100% + 0.2em);
    width: 2ch;

    font-size: 0.875em;
    text-align: center;
}

.tips {
    top: 1.5em;
    width: calc(100% - 2em);
    height: calc(100% - 4em);
}

.tips:is(:focus, :focus-within) .tip:not(:hover):not(:focus) {
    background: rgba(255, 255, 255, 0.3);
}

.tip {
    flex: 1 1;
    min-width: 0;
}

.tip:not(:hover):not(:focus) .tip-content {
    display: none;
}

.tip:is(:hover, :focus) .tip-content {
    display: flex;
    gap: 1em;
    justify-content: center;

    position: absolute;
    top: calc(100% + 0.5em);
    left: 0;
    right: 0;
    padding: 0.3em;

    border-radius: 0.2em;
    background: #333;
    color: #eee;
    font-size: 0.875em;
}

.heatmap {
    --gradient-stops: #ddd, #ddd;
    height: 1em;
    border: 0.1em solid #ddd;
    border-radius: 0.5em;
    background-image: linear-gradient(90deg, var(--gradient-stops));
}
